@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body {
    margin: 10 auto;
    background-color: #FDEBF3;
    font-family: 'Quicksand', Helvetica Neue, sans-serif;
}

.firstdiv {
    opacity: 0;
    text-align: center;

}

.firstdiv > p {
    
    text-align: left;
    
}

h1 {
    font-weight: 700;
    font-style: normal;
    color: #5AC9E6;
}

h2 {
    font-weight: 500;
    font-style: normal;
    color: #69CDE8;
}

p {
    font-weight: 300;
    font-style: normal;
    color: #88D9E6;
}

.backbutton {

    display: none;
    position: relative;
    top: 0px;
    right: 0px;
    text-align: right;
    margin-right: 12px;
    margin-top: 8px;

}

.backbutton > svg {

    margin: 0;
    position: relative;
}

.backbutton > svg:hover{

    color: grey;
}

.page {

    opacity: 0;
    width: 80%;
    height: 100%;
    margin-left: 24px;
    margin-right: 24px;

}
