@import url('https://fonts.googleapis.com/css?family=Roboto:300,500i,700i');

body {
    margin: 10 auto;
    background-color: #FDE7F1;
    font-family: 'Roboto', Helvetica Neue, sans-serif;
}

.firstdiv {
    opacity: 0;
    text-align: center;
    display:inline-block; 

}

.firstdiv > p {
    
    text-align: left;
    
}

h1 {
    font-weight: 700;
    font-style: italic;
    color: #5AC9E6;
}

h2 {
    font-weight: 500;
    font-style: italic;
    color: #69CDE8;
}

p {
    font-weight: 300;
    font-style: normal;
    color: #88D9E6;
}

.backbutton {

    display: none;
    position: relative;
    top: 0px;
    right: 0px;
    text-align: right;
    margin-right: 12px;
    margin-top: 8px;

}

.backbutton > svg {

    margin: 0;
    position: relative;
}

.backbutton > svg:hover{

    color: grey;
}