@import url('https://fonts.googleapis.com/css?family=Roboto:300,500i,700i');

body {
    margin: 10 auto;
    background-color: #FBD5E8;    
}

.firstdiv {
    opacity: 0;
    text-align: center;
    display:inline-block; 

}

.firstdiv > p {
    
    text-align: left;
    
}

h1 {
    font-weight: 700;
    font-style: italic;
    color: #5AC9E6;
}

h2 {
    font-weight: 500;
    font-style: italic;
    color: #69CDE8;
}

p {
    font-weight: 300;
    font-style: normal;
    color: #88D9E6;
}
